#reg {
  font-size: 20px;
  text-align: center;
  
}

#länkar {
  text-align: center;
  
}

.omMig{
  background-color: lightblue;
}

.selfie {
  text-align: center;

}
.selfie img {
  width:400px;
}



